/**
 * css custom properties
 */
:root {
  /* color basic */
  --color-base: #fff;
  --color-primary: #2399ed;
  --color-secondary: #cebda0;
  --color-text: #1c1d1f;
  --color-text-light: #85888d;
  --color-text-description: var(--color-text-light);
  --color-text-placeholder: #757578;
  --color-text-disable: #aaa;
  --color-bg-fill: #ecf3f5;

  /* color status */
  --color-success: #14c9bf;
  --color-warning: #f78b10;
  --color-danger: #f85959;

  /* color util */
  --color-link: var(--color-primary-text);
  --color-link-hover: #0b63d6;
  --color-link-visited: #0b63d6;
  --color-border: #d8e1e8;
  --color-placeholder: #e1e4ea;
  --color-overlay: rgba(0, 20, 50, 0.3);

  /* font family */
  --font-sans-serif-ja: "Noto Sans JP", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
  --font-sans-serif-en: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  --font-family-base: var(--font-sans-serif-ja);
  --font-tracking: 0.06em;

  /* root font size */
  --root-font-size: clamp(0.875rem, 0.813rem + 0.31vw, 1.125rem);

  /* font size: rem util */
  --rem: 16 * 1rem;

  /* font size: heading default */
  /*
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1.125rem;
  --font-size-h6: 1rem;
   */
  --font-size-h1: 2rem;
  --font-size-h2: 1.625rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1.125rem;
  --font-size-h6: 1rem;
  @media (--viewport-lg) {
    --font-size-h1: 2.625rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.625rem;
    --font-size-h4: 1.375rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1.125rem;
  }

  /* font size: px to rem sizes (ex: 24px / 16 = 1.5rem) */
  --font-size-8: 0.5rem;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-34: 2.125rem;
  --font-size-36: 2.25rem;
  --font-size-38: 2.375rem;
  --font-size-40: 2.5rem;
  --font-size-42: 2.625rem;
  --font-size-44: 2.75rem;
  --font-size-50: 3.125rem;
  --font-size-64: 4rem;
  --font-size-68: 4.25rem;
  --font-size-70: 4.375rem;
  --font-size-80: 5rem;
  --font-size-90: 5.625rem;
  --font-size-100: 6.25rem;
  --font-size-110: 6.875rem;
  --font-size-120: 7.5rem;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* line hight */
  --leading-none: 1;
  --leading-xs: 1.25;
  --leading-sm: 1.275;
  --leading-md: 1.5;
  --leading-lg: 1.625;
  --leading-xl: 2;
  --leading-2xl: 2.5;
  --leading-x3l: 2.875;
  --line-height-base: 1.8;
  --line-height-base-hd: 1.4;

  /* letter spacing */
  --letter-space-base: 0.04em;
  --letter-spacing-heading: 0.04em;

  /* spacer */
  --spacer-xs: 0.25rem; /* 4 */
  --spacer-sm: 0.5rem; /* 8 */
  --spacer: 1rem; /* 16 */
  --spacer-md: 1.5rem; /* 24 */
  --spacer-lg: 2.5rem; /* 40 */
  --spacer-xl: 4rem; /* 64 */
  --spacer-2xl: 6.5rem; /* 104 */
  --spacer-3xl: 10.5rem; /* 168 */

  /* section gutter */
  --gutter-sm: var(--spacer);
  --gutter-md: calc(var(--spacer) * 2);
  --gutter-lg: var(--spacer-lg);
  --gutter-xl: var(--spacer-xl);
  --gutter-2xl: var(--spacer-2xl);
  --gutter-3xl: var(--spacer-3xl);

  /* z order */
  --z-header: 600;
  --z-modal: 400;
  --z-nav-menu: 500;
  --z-lang-switcher: 450;
  --z-sticky: 400;
  --z-screen: 2000;

  --shadow-base: 0 0 calc(1.5 / var(--rem)) rgba(0, 5, 26, 0.06),
    0 0 calc(20 / var(--rem)) rgba(0, 5, 26, 0.12);

  /* scrollbar width */
  --window-scroll-bar-width: 0;

  /* header size */
  --header-height: calc(60 / var(--rem));

  /* menu toggle size */
  --toggle-size: calc(60 / var(--rem));

  /* wordpress admin bar (overide js) */
  --wp-adminbar-height: 0px;
  --header-and-adminbar-height: calc(
    var(--header-height) + var(--wp-adminbar-height)
  );

  /* container width */
  --container-max-width: auto;
  --container-max-width-sm: calc(540 / var(--rem));
  --container-max-width-md: calc(720 / var(--rem));
  --container-max-width-lg: calc(960 / var(--rem));
  --container-max-width-xl: calc(1140 / var(--rem));
  --container-max-width-2xl: calc(1400 / var(--rem));
  --container-max-width-3xl: calc(1600 / var(--rem));
  --container-max-width-entry: var(--container-max-width-md);
  --container-max-width-fluid: calc(1980 / var(--rem));
  --container-max-width-view: calc(2560 / var(--rem));
  @media (--viewport-sm) {
    --container-max-width: calc(540 / var(--rem));
  }
  @media (--viewport-md) {
    --container-max-width: calc(720 / var(--rem));
  }
  @media (--viewport-lg) {
    --container-max-width: calc(960 / var(--rem));
  }
  @media (--viewport-xl) {
    --container-max-width: calc(1140 / var(--rem));
  }
  @media (--viewport-2xl) {
    --container-max-width: calc(1400 / var(--rem));
  }
  @media (--viewport-3xl) {
    --container-max-width: calc(1600 / var(--rem));
  }

  /* ease: cubic */
  /*
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  */

  /* ease: circ */
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  /* ease: expo */
  /*
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  */

  /* ease: quad */
  /*
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  */

  /* ease: quart */
  /*
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  */

  /* ease: quint */
  /*
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  */

  /* ease: sine */
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  /* ease: back */
  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  /* swiper theme variable */
  /*
  --swiper-theme-color: var(--color-primary);
  --swiper-pagination-color: var(--color-primary);
  */

  /* Golden ratio */
  --golden-ratio: 1.618;

  /* safe area */
  --safe-top: env(safe-area-inset-top, 0);
  --safe-right: env(safe-area-inset-right, 0);
  --safe-bottom: env(safe-area-inset-bottom, 0);
  --safe-left: env(safe-area-inset-left, 0);

  /* image */
  /*
  --mask-ico-arrow-left: url("../../images/_inline/ico-arrow-left.svg");
  --mask-ico-arrow-right: url("../../images/_inline/ico-arrow-right.svg");
  */
}

:root[lang="en-US"] {
  --font-family-base: var(--font-sans-serif-en);
}
