* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-base);
  scroll-padding-top: var(--header-height);
}

body {
  position: relative;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  font-feature-settings: "pkna";
  line-height: var(--line-height-base);
  color: var(--color-text);
  letter-spacing: var(--letter-spacing-sans-serif);
  overflow-wrap: break-word;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  line-break: strict;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  display: block;
}

a {
  color: var(--color-text);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 1em;
  font-size: var(--font-p-size);
}

ul,
ol {
  padding-left: calc(var(--spacer) * 1.5);
}

[data-nav-tracker-root] {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 80vh;
  pointer-events: none;
  // visibility: hidden;
  border: 1px solid tomato;
}

.comingSoon {
  display: inline-block;
  padding: 0.1em 1em;
  font-family: var(--font-google-sanserif);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-md);
  color: var(--color-bg-dark);
  border: 2px solid var(--color-bg-dark);
  border-radius: 2em;
  opacity: 0.4;
}
