/**
 * Global
 */

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: var(--color-base);
}

html {
  font-family: var(--font-family-base);
  font-size: calc(calc(100vw / 37.5) * 1.6);
  color: var(--color-text);

  @include mq($from: sm) {
    font-size: calc(calc(100vw / 48) * 1.6);
  }

  @include mq($until: md, $and: "(orientation: landscape)") {
    font-size: var(--base-font-size);
  }

  @include mq($from: md) {
    font-size: var(--base-font-size);
  }
}

body {
  position: relative;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-feature-settings: "palt";
  line-height: var(--line-height-base);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  text-size-adjust: 100%;

  // .js-is-menu-open & {
  //   overflow: hidden;
  // }
}

// .contents {
//   display: block;
//   background-color: transparent;
// }

a:not([class]) {
  font-weight: var(--font-weight-medium);
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
  }

  &:visited {
    color: var(--color-link-visited);
  }

  &.is-underLine {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.is-coming-soon {
  cursor: not-allowed;
}

p,
.p {
  margin-bottom: 1em;
  font-size: var(--font-p-size);
}

img,
svg {
  max-width: 100%;
  height: auto;
}

img {
  @supports (image-rendering: -webkit-optimize-contrast) {
    image-rendering: optimize-contrast;
  }
}

ruby {
  font-size: 60%;
}

dt {
  font-weight: var(--font-weight-bold);
}

ol,
ul {
  padding-left: 2em;
  margin-bottom: var(--spacer-lg);
}

ul {
  li {
    position: relative;

    // &::before {
    //   position: absolute;
    //   top: 0.75em;
    //   left: calc(-1.75em + 0.5rem);
    //   display: inline-block;
    //   width: 0.5rem;
    //   height: 0.5rem;
    //   font-weight: bold;
    //   content: "";
    //   border: 2px solid var(--color-text);
    //   border-radius: 50%;
    // }
  }
}

ul,
ol,
dl {
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: var(--spacer-xs);
}

ol {
  list-style-type: none;
  counter-reset: ol-list;

  > li {
    position: relative;
    counter-increment: ol-list;

    &::before {
      position: absolute;
      left: -1.25em;
      margin-top: -0.125em;
      font-family: var(--font-google-sanserif);
      font-size: 1.25em;
      font-weight: var(--font-weight-bold);
      color: var(--color-primary);
      content: counter(ol-list) ".";
    }
  }
}

hr,
.hr {
  height: rem(1px);
  margin: var(--spacer) auto;
  border: none;
  border-color: var(--color--primary);
}

.hr {
  background-color: var(--color-primary);
}

.hr--border {
  background-color: var(--color-border);
}

.hr--short {
  max-width: rem(40px);
  height: rem(2px);
  margin-left: 0;
}

.hr--bold {
  height: rem(2px);
}

.hr--gutter-lg {
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
}

pre {
  white-space: pre-wrap;
}

address {
  font-style: normal;
}

/* purgecss start ignore */

// mikan.js用
[data-auto-line] > span[role="presentation"] {
  min-width: 0.5em;
}

#fill-available-test {
  position: absolute;
  width: 0;
  height: -webkit-fill-available;
  pointer-events: none;
}

/* purgecss end ignore */

.attention {
  line-height: var(--leading-sm);

  small {
    font-size: var(--font-size-xs);
  }
}

.updated {
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-3);
  white-space: nowrap;
}

.telLinkIcon {
  @include svgRatio(100%);

  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.125em;
}

.emLine {
  font-style: initial;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(100% - #{rem(3px)}),
    var(--color-warning) calc(100% - #{rem(3px)}),
    var(--color-warning) 100%
  );
}
