/**
 * Footer
 */

@use "sass:math";

.footer {
  position: relative;
  padding-top: var(--gutter-md);
}

.footer__info {
  background-color: var(--color-secondary);

  .btn {
    min-width: initial;
    margin-bottom: 0;

    @include mq($from: lg) {
      min-width: rem(300px);
    }
  }
}

.footer__main {
  color: var(--color-base);
  background-color: var(--color-primary);
}

.footer__heading {
  a {
    display: block;
    font-weight: var(--font-weight-bold);
    text-decoration: none;

    &,
    &:visited {
      color: var(--color-base);
    }
  }
}

.footer__navMainGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: var(--spacer);
  padding-top: var(--spacer-lg);

  @include mq($from: md) {
    grid-template-columns: repeat(auto-fit, minmax(#{rem(240px)}, 1fr));
  }
}

.footer__navMainColumn {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
    position: relative;
    display: block;
    font-size: calc(var(--font-size-sm) * 0.928571429);

    @include mq($from: md) {
      font-size: var(--font-size-sm);
    }
  }

  a {
    @include link-underline;

    display: block;
    padding-top: 0.15em;
    padding-bottom: 0.15em;

    &:hover {
      text-decoration: underline;
    }

    &,
    &:active,
    &:hover,
    &:visited {
      color: var(--color-base);
    }
  }

  .sub-menu {
    /* purgecss ignore current */

    padding-top: var(--spacer-xs);
    margin-bottom: var(--spacer-xs);

    li {
      &::before {
        /* purgecss ignore current */

        position: absolute;
        top: 0.8em;
        left: -1.5em;
        width: 1em;
        height: rem(2px);
        content: "";
        background-color: var(--color-base);
      }
    }
  }
}

.footer__hr {
  @extend .hr;

  background-color: var(--color-base);
}

.footer__main__bottomInfo {
  display: block;

  @include mq($from: md) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .btn {
    margin-right: auto;
    margin-bottom: var(--spacer);
    margin-left: auto;

    @include mq($from: md) {
      margin-right: initial;
      margin-left: initial;
    }
  }
}

.footer__main__bottomInfo__text {
  padding-top: var(--spacer);

  @include mq($from: md) {
    padding-right: var(--spacer-lg);
  }
}

.footer__main__bottomInfo__link {
  text-align: center;

  @include mq($from: md) {
    text-align: initial;
  }
}

.footer__navBottom {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;

  li {
    position: relative;
    display: block;
    padding-right: var(--spacer-lg);

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 0.25em;
        right: calc(0.5 * var(--spacer-lg));
        bottom: 0;
        width: rem(1px);
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        content: "";
        background-color: var(--color-primary);
      }
    }

    a {
      @include link-underline;

      font-size: var(--font-size-xs);
      text-decoration: none;
      // font-weight: var(--font-weight-bold);

      &,
      &:active,
      &:hover,
      &:visited {
        color: var(--color-primary);
      }

      &:hover {
        text-decoration: underline;
      }

      @include mq($from: md) {
        font-size: var(--font-size-sm);
      }
    }

    &:first-child a {
      padding-left: 0;
    }
  }
}

.copyright {
  margin-bottom: 0;
  font-family: var(--font-google-sanserif);
}
