/* purgecss start ignore */

#noLongerSupport {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 8px 15px;
  margin: auto;
  font-family: Meiryo, "メイリオ", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #8a6d3b;
  background: white;
  background-color: #fcf8e3;
  border: 1px solid #e6ddb3;

  @supports (object-fit: cover) {
    display: none !important;
  }

  // 旧 EdgeHtml (v44 以下)を含める場合
  // @supports (-ms-ime-align: auto) {
  //   display: block !important;
  //   top: auto;
  //   bottom: 0;
  // }
}

/* purgecss end ignore */
