@use "sass:math";
@use "../config/mixins" as *;

.btn,
.wp-block-button__link {
  --btn-radius: 0.5rem;

  position: relative;
  z-index: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: calc(180 / var(--rem));
  min-height: calc(44 / var(--rem));
  padding: 0.35em 2em;
  overflow: hidden;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-sm);
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-base);
  border: 1px solid var(--color-text);
  border-radius: var(--btn-radius);
  transition: color 0.2s ease, background-color 0.2s ease;

  @media (--viewport-lg) {
    font-size: var(--font-size-18);
  }

  &::before,
  &::after {
    pointer-events: none;
    content: "";
  }

  &::before {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: transparent;
    border: 2px solid var(--color-text);
    border-radius: var(--btn-radius);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:visited,
  &:active {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-text);

    &::before {
      opacity: 1;
    }
  }
}

.btn--reverse {
  color: var(--color-base);
  background-color: var(--color-text);

  &:hover {
    color: var(--color-base);
  }

  &::before {
    border-color: var(--color-base);
  }
}

.btn.btn--sm,
.wp-block-button.isSmall .wp-block-button__link {
  min-width: initial;
  max-width: initial;
  min-height: calc(24 / var(--rem));
  padding: 0.1em 1em;
  font-size: var(--font-size-14);

  &,
  &::before {
    border-radius: 4em;
  }
}

.btn--long,
.wp-block-button.isLong .wp-block-button__link {
  width: 100%;
  max-width: calc(315 / var(--rem));
  padding-right: 4em;
  padding-left: 4em;

  @media (--viewport-lg) {
    width: auto;
    min-width: calc(352 / var(--rem));
    max-width: initial;
  }

  &::after {
    width: 4rem;
  }
}

.btn--pin::after {
  background-color: currentcolor;
  mask-image: var(--icon-bg-btn-pin);
  mask-position: center left;
  mask-size: 55%;
}

.btn--external::after,
.wp-block-button .wp-block-button__link[target="_blank"]::after {
  background-color: currentcolor;
  mask-image: var(--icon-bg-external);
  mask-size: 0.75em;
}

.btn--block {
  display: flex;
}

.btn__label {
  position: relative;
  display: block;
  min-width: max-content;
}

// btnContainer -----------

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.btnContainer--centerToRight {
  @media (--viewport-lg) {
    justify-content: flex-end;
  }
}

.btnContainer--row .btn {
  width: calc(50% - calc(var(--spacer-xs) * 2));
  min-width: initial;
  margin-right: var(--spacer-xs);
  margin-bottom: var(--spacer-sm);
  margin-left: var(--spacer-xs);

  @media (--viewport-lg) {
    width: calc(33.33% - calc(var(--spacer-xs) * 2));
  }
}

.wp-block-button .wp-block-button__link {
  color: var(--color-base);
  background-color: var(--color-text);

  &::before {
    content: none;
  }

  &:hover {
    color: var(--color-text);
    background-color: var(--color-base);
  }
}

.wp-block-button.is-style-outline .wp-block-button__link {
  color: var(--color-text);
  background-color: var(--color-base);

  &:hover {
    color: var(--color-base);
    background-color: var(--color-text);
  }
}

// link -------------

.link {
  position: relative;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  text-decoration: none;

  > span {
    text-decoration: underline;
  }

  &:hover {
    color: var(--color-link-hover);
  }
}

.link--goRight,
.link--close {
  padding-left: 1.25em;

  &::before {
    position: absolute;
    left: 0;
    width: 1em;
    height: 100%;
    content: "";
    background-color: currentcolor;
    mask-image: var(--icon-bg-arrow-right);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 0.45em;
  }
}

.link--close::before {
  mask-image: var(--icon-bg-close);
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-sm);
}

.customMenuLink {
  [target="_blank"] & {
    position: relative;
    padding-right: 1.25em;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 1em;
      height: 100%;
      content: "";
      background-color: currentcolor;
      mask-image: var(--icon-bg-external);
      mask-size: 0.75em;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }
}
