.btn,
.entry-content .wp-block-button .wp-block-button__link {
  --btn-radius: 0.5rem;
  display: inline-flex;
  z-index: 0;

  position: relative;
  align-items: center;
  justify-content: center;
  min-width: calc(260 / var(--rem));
  min-height: 3.125em;
  padding: 0.35em 2.5em;
  overflow: hidden;
  border-radius: calc(180 / var(--rem));
  background-color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  line-height: var(--leading-sm);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;

  @media (--viewport-lg) {
    min-height: 3.75em;
    font-size: var(--font-size-16);
  }

  &,
  &:visited,
  &:active {
    color: var(--color-base);
  }

  &::before,
  &::after {
    display: block;
    position: absolute;
    width: 2.5em;
    height: 100%;
    content: "";
    mask-position: center;
    mask-repeat: no-repeat no-repeat;
    mask-size: contain;
    pointer-events: none;
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  &:hover {
    background-color: var(--color-link-bg-primary);
    color: var(--color-base);

    &::before {
      opacity: 1;
    }
  }

  &.isArrowRight::after {
    background-color: currentColor;
    mask-image: var(--mask-icon-arrow-right);
    mask-position: 0.1em center;
    mask-size: 1.5em;
  }
  &.isArrowLeft::before {
    background-color: currentColor;
    mask-image: var(--mask-icon-arrow-left);
    mask-position: calc(100% - 0.1em) center;
    mask-size: 1.5em;
  }
}

.btn--reverse {
  background-color: var(--color-primary);
  color: var(--color-base);

  &:hover {
    color: var(--color-base);
  }

  &::before {
    border-color: var(--color-base);
  }
}

.btn.btn--sm,
.entry-content .wp-block-button.isSmall .wp-block-button__link {
  min-width: initial;
  max-width: initial;
  min-height: calc(24 / var(--rem));
  padding: 0.1em 1em;
  font-size: var(--font-size-14);

  &,
  &::before {
    border-radius: 4em;
  }
}

.btn--long,
.entry-content .wp-block-button.isLong .wp-block-button__link {
  width: 100%;
  max-width: calc(315 / var(--rem));
  padding-right: 4em;
  padding-left: 4em;

  @media (--viewport-lg) {
    width: auto;
    min-width: calc(352 / var(--rem));
    max-width: initial;
  }

  &::after {
    width: 4rem;
  }
}

.btn--pin::after {
  background-color: currentcolor;
  mask-image: var(--icon-bg-btn-pin);
  mask-position: center left;
  mask-size: 55%;
}

.btn--external::after,
.wp-block-button .wp-block-button__link[target="_blank"]::after {
  background-color: currentcolor;
  mask-image: var(--icon-bg-external);
  mask-size: 0.75em;
}

.btn--block {
  display: flex;
}

.btn__label {
  display: block;
  position: relative;
  min-width: max-content;
}

.editor-styles-wrapper {
  & .wp-element-button,
  & .wp-block-button__link {
    background-color: var(--color-primary);
  }
}

/* btnContainer ----------- */

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.btnContainer--centerToRight {
  @media (--viewport-lg) {
    justify-content: flex-end;
  }
}

.btnContainer--row .btn {
  width: calc(50% - calc(var(--spacer-xs) * 2));
  min-width: initial;
  margin-right: var(--spacer-xs);
  margin-bottom: var(--spacer-sm);
  margin-left: var(--spacer-xs);

  @media (--viewport-lg) {
    width: calc(33.33% - calc(var(--spacer-xs) * 2));
  }
}

.entry-content .wp-block-button .wp-block-button__link {
  &::before {
    content: none;
  }

  &:hover {
    background-color: var(--color-link-bg-primary);
    color: var(--color-base);
  }
}

* + .entry-content .wp-block-button .wp-block-button__link {
  margin-top: var(--spacer);
}

.entry-content .wp-block-button.is-style-outline .wp-block-button__link {
  background-color: var(--color-base);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-base);
  }
}

.btnWrapper {
  padding: var(--spacer-lg) var(--spacer);
  text-align: center;
}

/* link ------------- */

.link {
  display: inline-block;
  position: relative;
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  & > span {
    text-decoration: underline;
  }

  &:hover {
    color: var(--color-link-hover);
  }
}

.link--goRight,
.link--close {
  padding-left: 1.25em;

  &::before {
    position: absolute;
    left: 0;
    width: 1em;
    height: 100%;
    background-color: currentcolor;
    content: "";
    mask-image: var(--icon-bg-arrow-right);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 0.45em;
  }
}

.link--close::before {
  mask-image: var(--icon-bg-close);
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-sm);
}

[target="_blank"] :where(.customMenuLink) {
  position: relative;
  padding-right: 1.25em;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 100%;
    background-color: currentcolor;
    content: "";
    mask-image: var(--mask-icon-external);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 1em;
  }
}

.blockArrowLink > a {
  display: inline-block;
  position: relative;
  padding: 0.125em 0.25em;
  padding-left: 2em;
  text-decoration: underline;

  &::before {
    position: absolute;
    top: 0.45em;
    left: 0;
    width: 1.25em;
    height: 1.25em;
    background-color: currentColor;
    content: "";
    mask-image: var(--mask-icon-arrow-right);
    mask-position: center;
    mask-repeat: no-repeat no-repeat;
    mask-size: contain;
    transition: transform 0.2s ease;
  }

  &:hover {
    text-decoration: none;

    &::before {
      transform: translateX(0.25em);
    }
  }
}

* + .blockArrowLink {
  margin-top: var(--spacer);
}
