.container {
  display: block;
  width: 100%;
  max-width: var(--container-max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacer);
  padding-left: var(--spacer);

  & .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.container--max-sm {
  @media (--viewport-sm) {
    max-width: var(--container-max-width-sm) !important;
  }
}

.container--max-md {
  @media (--viewport-md) {
    max-width: var(--container-max-width-md) !important;
  }
}

.container--max-lg {
  @media (--viewport-lg) {
    max-width: var(--container-max-width-lg) !important;
  }
}

.container--max-xl {
  @media (--viewport-xl) {
    max-width: var(--container-max-width-xl) !important;
  }
}

.container--max-2xl {
  @media (--viewport-2xl) {
    max-width: var(--container-max-width-2xl) !important;
  }
}

.container--max-entry {
  max-width: var(--container-max-width);

  @media (--viewport-lg) {
    max-width: var(--container-max-width-entry) !important;
  }
}

.containerCanvas,
.containerFluidInside {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.containerFluidInside {
  max-width: var(--container-fluid-inside-width);
}

.containerCanvas {
  max-width: var(--container-canvas-max-width);
}

.contentWrapper {
  width: clamp(16rem, 90vw, 70rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
