.formGroup {
  display: flex;
  align-items: center;

  & :where(input[type="checkbox"]) {
    appearance: none;

    & + :where(label) {
      display: inline-flex;
      position: relative;
      align-items: center;
      padding-left: 1.25em;
      cursor: pointer;

      &::before {
        position: absolute;
        left: 0;
        width: 1em;
        height: 100%;
        background-image: var(--icon-bg-checkbox-disable-light);
        background-position: center;
        background-size: 0.85em;
        background-repeat: no-repeat;
        content: "";
      }
    }

    &:checked + label::before {
      background-image: var(--icon-bg-checkbox-enable-light);
    }
  }
}

.formGroupSelect {
  position: relative;
  border: 1px solid var(--color-text);
  border-radius: 0.25em;
  background-color: var(--color-base);

  &::after {
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 100%;
    background-color: var(--color-text);
    content: "";
    mask-image: var(--icon-bg-arrow-down);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 0.65em;
  }

  & :where(select) {
    padding: 0.25em 2.25em 0.25em 1em;
  }
}
