.heading {
  font-size: var(--font-size-24);
}

.heading-pageHeader {
  font-size: var(--font-size-24);

  @media (--viewport-wide) {
    font-size: var(--font-size-28);
  }
}

.heading-borderLeft {
  position: relative;
  padding-left: calc(calc(5 / var(--rem)) + 0.5em);

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(5 / var(--rem));
    height: calc(100% - 0.25em);
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--color-secondary);
    content: "";
  }
}
