@use "sass:math";
@use "../config/mixins" as *;

/* purgecss start ignore */

.pagination {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 0;
  padding-top: var(--spacer-lg);
  padding-left: 0;
  list-style: none;

  @media (--viewport-md) {
    margin-bottom: var(--spacer-lg);
  }
}

.pagination__item {
  --pagination-link-width: calc(40 / var(--rem));

  @media (--viewport-lg) {
    --pagination-link-width: calc(50 / var(--rem));
  }
  display: block;

  position: relative;
  height: 100%;
  margin-right: 0.25em;
  margin-bottom: 0;
  margin-left: 0.25em;
  font-size: var(--font-size-sm);

  @media (--viewport-lg) {
    font-size: var(--font-size);
  }

  .page-numbers {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: var(--pagination-link-width);
    height: var(--pagination-link-width);
    padding: 0.2em;
    overflow: hidden;
    border: 1px solid currentcolor;
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-text);
    font-weight: bold;
    line-height: 1;
    font-family: var(--font-sans-serif-en);
    text-decoration: none;
    transition: 0.4s ease;

    [class*="bg-"] & {
      background-color: var(--color-base);
    }

    &:not(.current, .prev, .next) {
      display: none;

      @media (--viewport-md) {
        display: flex;
      }
    }

    &:not(.dots):hover {
      background-color: var(--color-text);
      color: var(--color-base);
    }
  }

  .page-numbers.current {
    background-color: var(--color-text);
    color: var(--color-base);
    pointer-events: none;
  }

  .page-numbers.dots {
    border-color: transparent;
  }

  .prev,
  .next {
    position: relative;
    width: calc(var(--pagination-link-width) * 0.75);
    min-width: 1em;
    height: calc(var(--pagination-link-width) * 0.75);
    background-color: transparent;

    &::after {
      @include full-fit;
      background-color: currentcolor;

      content: "";
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 0.3em;
    }

    &.is-disable {
      opacity: 0.5;
    }

    > span {
      @include sr-only;
      @include sr-only-focusable;
    }
  }

  & .prev {
    &::after {
      mask-image: var(--icon-bg-arrow-left);
    }
  }

  & .next {
    &::after {
      mask-image: var(--icon-bg-arrow-right);
    }
  }

  &.is-rwd {
    display: none;

    @media (--viewport-md) {
      display: block;
    }
  }
}

.pageNum {
  padding-top: var(--spacer);
  font-weight: var(--font-weight-bold);
  font-size: calc(11 / var(--rem));
  text-align: center;

  @media (--viewport-md) {
    display: none;
  }
}

/* purgecss end ignore */
