.headerWrapper {
  --transition-base: 0.5s;
  display: contents;
}

.header {
  display: block;
  z-index: var(--z-header);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}
.isScrollDown .header {
  background-color: var(--color-base);
}

[data-header-trigger] {
  height: var(--header-height);
}
