
# Docker コンテナの識別子（半角英数字のみ、わかりやすいようにプロジェクト名などを設定してください)
COMPOSE_PROJECT_NAME=mytheme

# localhost port - WordPress やデータベースコンテナのポート番号（他と重複しないポート番号を設定してください）
LOCAL_SERVER_PORT=5000

# SMTP MAIL port - mailhog コンテナの送信テスト用
# LOCAL_MAIL_PORT=8094
# LOCAL_SMTP_PORT=1094

# WordPress コアのディレクトリ
WP_CORE_DIR=/wp

# WordPress テーマディレクトリ名
WP_THEME_NAME=mytheme

# default wordpress site title
WORDPRESS_SITE_TITLE=mytheme

# default wordpress admin user
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin
WORDPRESS_ADMIN_MAIL=admin1@example.com

