{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13
  },
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true,
    "browser": true,
    "es2022": true
  },
  "rules": {
    "no-unused-vars": "warn"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "plugins": ["@typescript-eslint"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {}
    }
  ]
}
