// sass-mq - How to use it
// https://github.com/sass-mq/sass-mq#how-to-use-it

@use "variables";

$media-type: "screen";

@use "~sass-mq/mq" with (
  $breakpoints: variables.$mq-breakpoints,
  $media-type: $media-type,
  // Uncomment for debugging breakpoints
  // $show-breakpoints: (vga, xga),
);
