/**
 * Editor */

@import "./editor/admin.css";

.editor-styles-wrapper {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-feature-settings: "pkna";
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--color-base);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
