/**
 * Editor
 */

/* purgecss start ignore */

@use "sass:meta";
@use "common/custom-properties";
@use "editor/adminFix";

.editor-styles-wrapper {
  padding: var(--spacer) 2.5vw;
  font-family: var(--font-family-base);
  font-feature-settings: "pkna";
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--color-base);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-styles-wrapper > * {
  @include meta.load-css("components");
}

/* purgecss end ignore */
