.entry-content:not(.container, .isGutterLess) {
	width: 100%;
	/* max-width: min(
    var(--container-max-width-fluid),
    calc(100% - calc(var(--spacer) * 2))
  ); */
	max-width: min(var(--container-max-width-fluid), 100%);
	margin-inline: auto;
}

.entry-content:after {
	display: block;
	clear: both;
	content: "";
}

.container > .entry-content {
	max-width: 100%;
}

.entry-content,
.editor-styles-wrapper .wp-block-post-content {
	&:not(.isGutterLess) > :where(*:not([class*="align"])),
	& :where([class*="has-text-align-"]) {
		width: 100%;
		max-width: min(
			calc(var(--wp--style--global--content-size) - calc(var(--spacer) * 2)),
			calc(100% - calc(var(--spacer) * 2))
		);
		margin-inline: auto;
		@media (--viewport-sm) {
			max-width: min(
				calc(var(--wp--style--global--content-size) - calc(var(--spacer) * 2)),
				calc(var(--container-max-width) - calc(var(--spacer) * 2))
			);
		}
	}
	> .alignwide {
		max-width: min(
			calc(var(--wp--style--global--wide-size) - calc(var(--spacer) * 2)),
			calc(100% - calc(var(--spacer) * 2))
		) !important;
		margin-inline: auto;
	}
	> .alignfull {
		max-width: var(--container-max-width-fluid) !important;
		margin-inline: auto;
	}

	& > * + [class*="wp-"]:where(:not(p)) {
		margin-top: var(--spacer-md);
	}

	& > * + [class*="wp-"]:where(h1, h2, h3, hr) {
		margin-top: var(--spacer-lg);
	}

	& :where(table) {
		width: 100%;
		max-width: 100%;
		border-collapse: collapse;
	}

	& :where(img) {
		max-width: 100%;
		height: auto;
	}

	& :where(a) {
		position: relative;
		/* text-decoration: underline;

    &:hover {
      text-decoration: none;
    } */
	}

	& :where(ol, ul, dl) {
		margin-bottom: var(--spacer);
	}

	& :where(.wp-block-group) :where(ol, ul, dl, p):last-child {
		margin-bottom: 0;
	}

	& :where(table:not([class*="wp-block-table"] table)) {
		border-collapse: collapse;

		& th,
		& td {
			padding: var(--spacer);
			border: 1px solid var(--color-border-base);
		}
	}

	& :where(.wp-block-group, .wp-block-columns) {
		& .wp-block-image > img {
			display: inline-block;
			max-width: 100%;
			height: auto;
		}
	}

	& :where(details) {
		padding-left: var(--spacer);

		& summary {
			margin-left: calc(-0.8 * var(--spacer));
		}
	}

	& .has-text-align-left {
		text-align: left !important;
	}

	& .has-text-align-right {
		text-align: right !important;
	}

	& .has-text-align-center {
		text-align: center !important;
	}

	& .wp-block-buttons {
		padding-top: var(--spacer);
		padding-bottom: var(--spacer);
	}

	& .wp-block-audio figcaption {
		font-size: var(--font-size-sm);
		color: var(--color-text-code);
		text-align: center;
	}

	& .is-dark-theme .wp-block-audio figcaption {
		color: var(--color-text-code-lighten);
	}

	& .wp-block-code {
		padding: 0.8em 1em;
		margin-bottom: var(--spacer-lg);
		font-family: Menlo, Consolas, monaco, monospace;
		border: 1px solid var(--color-border);
		border-radius: var(--border-radius-sm);
	}

	& .wp-block-shortcode {
		margin-bottom: var(--spacer-lg);

		&:not(:first-child) {
			margin-top: var(--spacer-lg);
		}
	}

	& .blocks-gallery-caption {
		font-size: var(--font-size-sm);
		color: var(--color-text-code);
		text-align: center;
	}

	& .is-dark-theme .blocks-gallery-caption {
		color: var(--color-text-code-lighten);
	}
}

.editor-styles-wrapper {
	& .acf-icon {
		text-decoration: none;
	}
	& .acf-row {
		border-bottom: 1px solid #bbb !important;
	}
}

.wp-block-post-title {
	margin-bottom: 1.5em !important;
	font-size: var(--font-size-h2);
}

.empty-area {
	padding: 0.5em;
	border: 1px dashed var(--color-border);
}

.ui-block-title {
	display: block;
	font-size: var(--font-size-12);
	color: #aaa;
}
