:where(.entry-content, .editor-styles-wrapper .wp-block-post-content) {
  & .wp-block-image {
    & a:active img {
      opacity: 0.8;
    }
    &:last-child {
      margin-bottom: 0;
    }

    & .wp-element-caption {
      color: var(--color-text-light);
      /* text-align: initial; */
      text-align: center;
    }

    &.is-style-rounded img {
      border-radius: 9999px;
    }

    &.aligncenter {
      margin-inline: auto;
      /* width: max-content; */
      margin-bottom: var(--spacer-lg);
      text-align: center;
    }

    &.alignleft,
    &.alignright {
      max-width: max-content;
    }
    &.alignleft {
      float: left;
    }

    &.alignright {
      float: right;
    }

    &.is-fullWidth,
    &.alignwide {
      margin-inline: auto;
      & img {
        width: 100%;
        max-width: initial;
        height: auto;
        margin-inline: auto;
      }
      & .components-resizable-box__container {
        display: block !important;
      }
    }

    &.alignfull {
      margin-inline: auto;
      & img {
        position: relative;
        display: block;
        width: 100vw;
      }
      & .components-resizable-box__container {
        display: block !important;
      }
    }

    &.size-full {
      img {
        width: 100%;
      }
    }

    &.is-1by1,
    &.is-4by3,
    &.is-16by9,
    &.is-21by9 {
      position: relative;
      display: block;

      & img {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        object-position: center;
      }

      & .components-resizable-box__container {
        position: relative !important;
        display: block !important;
        width: 100% !important;
        height: 100% !important;
      }
    }

    &.is-1by1 {
      & .components-resizable-box__container,
      & img {
        aspect-ratio: 1/1;
      }
    }

    &.is-4by3 {
      & .components-resizable-box__container,
      & img {
        aspect-ratio: 4/3;
      }
    }

    &.is-16by9 {
      & .components-resizable-box__container,
      & img {
        aspect-ratio: 16/9;
      }
    }

    &.is-21by9 {
      & .components-resizable-box__container,
      & img {
        aspect-ratio: 21/9;
      }
    }

    & a[target="_blank"]:after {
      display: none;
      content: none;
    }
  }

  & > * + .wp-block-image {
    margin-top: var(--spacer-lg);
  }

  /*
  & .wp-block-column .wp-block-image {
    & img {
      width: 100%;
      height: auto;
    }
    & .components-resizable-box__container {
      display: block !important;
      width: 100%;
    }
  }
  */
}

/* WORKAROUND: alignment fix */
:where(.editor-styles-wrapper .wp-block-post-content .wp-block-image) {
  &.aligncenter,
  &.alignleft,
  &.alignright {
    margin-inline: auto;
  }
  &.alignleft,
  &.alignright {
    width: initial !important;
  }
  &.aligncenter > .components-resizable-box__container {
    margin-inline: auto;

    & img {
      margin-inline: auto;
    }
  }
  &.alignleft > .components-resizable-box__container {
    margin-right: auto;
    margin-left: 0;
  }
  &.alignright > .components-resizable-box__container {
    margin-right: 0;
    margin-left: auto;
  }
}

.floor-map-figure {
  position: relative;
  display: block;

  & img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-inline: auto;
  }
}
