{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "globals": {
    "wp": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {},
  "ignorePatterns": ["bs-config.js"]
}
