@use "sass:list";
@use "sass:math";
@use "~sass-rem/rem" as *;
@use "~sass-mq/mq" as *;
@use "../config/mixins";
@use "../config/variables";

/**
 * display ヘルパー
 */
.centerBlock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/**
 * img
 */
.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: var(--border-radius-base);
}

.post-thumbnail {
  background-color: var(--color-bg-no-image);
  // background-image: url(../images/_inline/no-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

/**
 * screen reader ヘルパー
 */
.sr-only {
  @include mixins.sr-only;
  @include mixins.sr-only-focusable;
}

.modalOverlay {
  @include mixins.center-method($position: fixed);

  z-index: var(--z-overlay);
  width: 100%;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
  background-color: rgba(#000, 0.4);
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  will-change: opacity;
}

.js-isDropdownOpen .modalOverlay,
.js-isMenuOpen .modalOverlay {
  visibility: visible;
  opacity: 1;
  transition-timing-function: ease;
  transition-duration: 0.8s, 0.8s;
}

.overlay {
  @include mixins.center-method;

  width: 100%;
  height: 100%;
}

a.overlay {
  background-color: var(--color-base);
  opacity: 0;
  transition: 0.4s ease;

  &:hover {
    opacity: 0.2;
  }
}

.d-block {
  display: block !important;
}

.d-block-md {
  display: none !important;

  @include mq($from: md) {
    display: block !important;
  }
}

.d-block-lg {
  display: none !important;

  @include mq($from: lg) {
    display: block !important;
  }
}

.d-i-block {
  display: inline-block;
}

.d-none {
  display: none !important;
}

.d-none-md {
  display: block !important;

  @include mq($from: md) {
    display: none !important;
  }
}

.d-none-lg {
  display: block !important;

  @include mq($from: lg) {
    display: none !important;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.counterReset {
  counter-reset: number 0;
}

/**
 * Flex boxヘルパー
 */

.flex {
  display: flex;
}

.flex-wrap {
  @include mixins.set-row();
}

.flex-justifyCenter {
  justify-content: center;
}

.flex-justifyEnd {
  justify-content: flex-end;
}

.flex-alignCenter {
  align-items: center;
}

/**
 * iframeなどを比率固定レスポンシブサイズで表示
 */
.embedResponsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: rgba(black, 0.05);

  &::before {
    display: block;
    content: "";
  }

  & > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  @each $embed-responsive-aspect-ratio
    in variables.$embed-responsive-aspect-ratios
  {
    $embed-responsive-aspect-ratio-x: list.nth(
      $embed-responsive-aspect-ratio,
      1
    );
    $embed-responsive-aspect-ratio-y: list.nth(
      $embed-responsive-aspect-ratio,
      2
    );

    &.is-#{$embed-responsive-aspect-ratio-x}by#{$embed-responsive-aspect-ratio-y} {
      &::before {
        padding-top: math.percentage(
          math.div(
            $embed-responsive-aspect-ratio-y,
            $embed-responsive-aspect-ratio-x
          )
        );
      }
    }
  }

  @each $embed-responsive-aspect-ratio
    in variables.$embed-responsive-aspect-ratios
  {
    $embed-responsive-aspect-ratio-x: list.nth(
      $embed-responsive-aspect-ratio,
      1
    );
    $embed-responsive-aspect-ratio-y: list.nth(
      $embed-responsive-aspect-ratio,
      2
    );

    &.is-lg-#{$embed-responsive-aspect-ratio-x}by#{$embed-responsive-aspect-ratio-y} {
      &::before {
        @include mq($from: lg) {
          padding-top: math.percentage(
            math.div(
              $embed-responsive-aspect-ratio-y,
              $embed-responsive-aspect-ratio-x
            )
          );
        }
      }
    }
  }
}

.objectFitCover {
  position: relative;

  img {
    @include mixins.full-fit;

    object-fit: cover;
    top: 0;
    left: 0;
  }
}

.no-posts {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  text-align: center;

  > span,
  > small {
    display: inline-block;
    padding: 0.25em 1em;
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-2);
    background-color: var(--color-base);
    border: rem(2px) solid var(--color-gray-2);
    border-radius: var(--border-radius-lg);
  }
}
