.lead {
  line-height: var(--leading-xl);
}

.leading-xs {
  line-height: var(--leading-xs);
}

.leading-sm {
  line-height: var(--leading-sm);
}

.leading-md {
  line-height: var(--leading-md);
}

.leading-lg {
  line-height: var(--leading-lg);
}

.leading-xl {
  line-height: var(--leading-xl);
}

.leading-2xl {
  line-height: var(--leading-2xl);
}

.leading-x3l {
  line-height: var(--leading-x3l);
}

.text-normal {
  font-weight: var(--font-weight-regular);
}

.text-medium {
  font-weight: var(--font-weight-medium);
}

.text-bold {
  font-weight: var(--font-weight-bold) !important;
}

.text-black {
  font-weight: var(--font-weight-black) !important;
}

.text-sansSerif-en {
  font-family: var(--font-sans-serif-en);
}

.text-serif-en {
  font-family: var(--font-serif-en);
}

.text-size-xs {
  font-size: var(--font-size-10);

  @media (--viewport-lg) {
    font-size: var(--font-size-12);
  }
}

.text-size-sm {
  font-size: var(--font-size-12);

  @media (--viewport-lg) {
    font-size: var(--font-size-14);
  }
}

.text-size-md {
  font-size: var(--font-size-14);

  @media (--viewport-lg) {
    font-size: var(--font-size-16);
  }
}

.text-size-lg {
  font-size: var(--font-size-16);

  @media (--viewport-lg) {
    font-size: var(--font-size-18);
  }
}

.text-size-xl {
  font-size: var(--font-size-22);

  @media (--viewport-lg) {
    font-size: var(--font-size-24);
  }
}

.text-size-2xl {
  font-size: var(--font-size-26);

  @media (--viewport-lg) {
    font-size: var(--font-size-30);
  }
}

.text-emphasis {
  font-size: 140%;
}

.text-center {
  text-align: center !important;
}

.text-center-md {
  @media (--viewport-md) {
    text-align: center;
  }
}

.text-center-lg {
  @media (--viewport-lg) {
    text-align: center;
  }
}

.text-center-md-left {
  text-align: center;

  @media (--viewport-md) {
    text-align: left;
  }
}

.text-center-lg-left {
  text-align: center;

  @media (--viewport-lg) {
    text-align: left;
  }
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-hide {
  color: transparent;
  font-size: 0;
}

.text-block {
  & > span {
    display: block;
  }
}

.text-block-md {
  & > span {
    display: inline-block;

    @media (--viewport-md) {
      display: block;
    }
  }
}

.text-block-lg {
  & > span {
    display: inline-block;

    @media (--viewport-lg) {
      display: block;
    }
  }
}

.text-autoLine {
  & > span {
    display: inline-block;
  }
}

.text-force-break {
  & > span {
    display: block;
  }
}

.text-autoCentering {
  display: inline-block;
  text-align: initial !important;
}

.text-color {
  color: var(--color-text);
}

.text-color-base {
  color: var(--color-base);
}

.text-color-primary {
  color: var(--color-primary) !important;
}

.text-color-secondary {
  color: var(--color-primary) !important;
}

.text-color-base {
  color: var(--color-base) !important;
}

.text-color-border {
  color: var(--color-border);
}

.text-color-danger {
  color: var(--color-danger) !important;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}

.text-no-break {
  white-space: nowrap;
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*

@for $i from 2 to 5 {
  .line-clamp-#{$i} {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    overflow: hidden;
  }
}
*/
