{%- set hd = tag ? tag : 'h1' -%}
{%- set hd_title = title ? title : post.title -%}
<div class="pageHeader container container--max-xl">
  {{ '<' ~ hd ~ ' class="heading mb-0">' }}{{ title }}{{ '</' ~ hd ~ '>' }}
</div>
