<div class="section container container--max-entry">
  {% if (posts|length) >= 1 %}
    {% for post in posts %}
      {{ include('components/content.twig') }}
    {% endfor %}
  {% else %}
    {{
      include('components/no-posts.twig', { no_post_label: __('No matching events', 'mytheme') })
    }}
  {% endif %}
</div>
