.error404-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60svh;
  font-family: var(--font-sans-serif-en);
  text-align: center;
}

.error404-heading {
  line-height: var(--leading-sm);
}

.error404-heading-status {
  display: block;
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-black);
  color: var(--color-primary);
}

.error404-heading-label {
  display: block;
  font-size: var(--font-size-24);
}

.error404-description {
  font-size: var(--font-size-12);
}
