.fade-b-in {
	opacity: 0;
	transform: translateY(2rem);
	will-change: opacity, transform;
}
.isPageActive .fade-b-in {
	transition:
		transform 0.4s var(--ease-out-circ),
		opacity 1s;
	transition-delay: 0.1s, 0.1s;
	&.-delay-short {
		transition-delay: 0.4s, 0.4s;
	}
	&.-delay-long {
		transition-delay: 1s, 1s;
	}
}
.isPageActive [data-scroll="in"].fade-b-in {
	opacity: 1;
	transform: translateY(0);
}

.stagger .fade-b-in {
	--delay: calc(var(--list-index) * 0.1s);

	&.-is-stagger {
		transition-delay: var(--delay), var(--delay);
	}
	@media (--viewport-md) {
		&.-is-stagger-md {
			transition-delay: var(--delay), var(--delay);
		}
	}
	@media (--viewport-lg) {
		&.-is-stagger-lg {
			transition-delay: var(--delay), var(--delay);
		}
	}
}

/*
[x-data="splitText"] {
  display: block;
  overflow: hidden;

  & .words {
    display: block;
    min-height: 1em;
    overflow: hidden;
  }
  & .char {
    display: inline-block;
    transition: transform 1s var(--ease-out-circ)
      calc(0.2s + calc(0.01s * var(--char-index)));
    transform: translate3d(0, 106%, 0);
    will-change: transform;
  }
}
.isPageActive .text-split-in[data-scroll="in"] {
  & .char {
    transform: translate3d(0, 0, 0);
  }
}
*/
