.bgColor-primary {
  color: var(--color-base);
  background-color: var(--color-primary);
}

.bgColor-secondary {
  background-color: var(--color-secondary);
}

.bgColor-base {
  background-color: var(--color-base);
}

.bgColor-text {
  color: var(--color-base);
  background-color: var(--color-text);
}

.bgColor-bg {
  background-color: var(--color-bg);
}
