/**
 * Editor
 */
@import "config/custom-media";
@import "config/custom-property";
@import "editor/*.css";
@import "components/*.css";
@import "utils/*.css";
@import "blocks/*.css";
@import "global/typography.css";

.editor-styles-wrapper {
  padding: 0 var(--spacer) var(--spacer-2xl) !important;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
  background-color: #f4f4f4;
}

.acf-flexible-content .layout .acf-fc-layout-order {
  background-color: #fff;
}
