{% extends 'base.twig' %}

{% block content %}
  <section class="section container text-center">
    <h1>
      Not Found
    </h1>
    <p>
      Sorry, but the page you are trying to view does not exist.
    </p>
  </section>
{% endblock %}
