{% extends 'base.twig' %}

{% block content %}
  <section id="hero" class="section container">
    <h1>
      front page
    </h1>
    <h1>
      H1 / Bold(700) / 1.5
    </h1>
    <h2>
      H2 / Bold(700) / 1.5
    </h2>
    <h3>
      H3 / Bold(700) / 1.5
    </h3>
    <h4>
      H4 / Bold(700) / 1.5
    </h4>
    <h5>
      H5 / Bold(700) / 1.5
    </h5>
    <h6>
      H6 / Bold(700) / 1.5
    </h6>
    <p>
      テキスト
    </p>

    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer-xs);"></div>
    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer-sm);"></div>
    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer);"></div>
    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer-md);"></div>
    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer-lg);"></div>
    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer-xl);"></div>
    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer-2xl);"></div>
    <div style="background-color:var(--color-bg); margin-bottom:var(--spacer); padding-top:var(--spacer-3xl);"></div>
  </section>
{% endblock %}
