{% extends 'base.twig' %}

{% block content %}
  <article class="content-single section">
    <div class="container container--max-entry">
      <header class="content-single__header">
        <h1 class="content-single__heading">
          {{ post.title }}
        </h1>
        <div class="content-single__meta container container--max-entry">
          {{ include('components/entry-meta.twig', ignore_missing = true) }}
        </div>
      </header>
      {% if function('has_post_thumbnail') %}
        <figure class="entry-thumbnail">
          {{ function('get_the_post_thumbnail', post.id) }}
        </figure>
      {% endif %}
    </div>
    <div class="section pt-sm container container--max-entry entry-content">
      {{ post.content }}
    </div>
  </article>
{% endblock %}
