{% extends 'base.twig' %}

{% block content %}
  <section class="section container text-center">
    <h1 class="sectionHeading">
      <span class="sectionHeading__lead">Not Found</span>
    </h1>
    <p>
      Sorry, but the page you are trying to view does not exist.
    </p>
  </section>
{% endblock %}
