{% extends 'base.twig' %}

{% block content %}
  <h1>
    This is my archive
  </h1>

  <ol>
    {% for post in posts %}
      <li><a href="{{ post.link }}">{{ post.title }}</a></li>
    {% endfor %}
  </ol>
{% endblock %}
