{% extends 'base.twig' %}

{% block content %}
  {{ include('components/page-header.twig', { lead: lead_title, sub: sub_title }) }}
  <section class="section">
    <div class="container container--max-entry entry-content">
      {{ post.content }}
    </div>
  </section>
{% endblock %}
