.error404__heading {
  line-height: var(--leading-sm);
  font-family: var(--font-sans-serif-en);
  letter-spacing: 0.1em;
}

.error404__heading__status {
  display: block;
  color: var(--color-primary);
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-50);
}

.error404__heading__label {
  display: block;
  font-size: var(--font-size-24);
}

.error404__description {
  font-size: var(--font-size-14);
}
