h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;

  &:first-child {
    padding-top: var(--spacer-xs);
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: var(--spacer-md);
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0.75em;
  line-height: var(--leading-md);

  // & + h2,
  // & + h3,
  // & + h4,
  // & + h5,
  // & + h6 {
  //   margin-top: 1.5em;
  // }

  a {
    position: relative;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.wp-block-group + p,
.wp-block-media-text + p,
.wp-block-image + p,
p + .wp-block-group,
p + .wp-block-media-text,
p + .wp-block-image {
  margin-top: var(--spacer-lg);

  @media (--viewport-lg) {
    margin-top: var(--spacer-xl);
  }
}

ol:not(:last-child),
ul:not(:last-child),
dl:not(:last-child) {
  margin-bottom: var(--spacer-lg);
}

table:not([class*="wp-block-table"] table) {
  border-collapse: collapse;

  th,
  td {
    padding: var(--spacer);
    border: 1px solid var(--color-border-base);
  }
}

p.has-text-align-center {
  text-align: center;
}

p.has-text-align-right {
  text-align: right;
}
