@use "sass:meta";
@use "sass:math";
@use "../config/mixins" as *;
@use "../modules/helper" as *;

/**
* WordPress ブロック用スタイル
*/

/* purgecss start ignore */

.entry-title {
  margin-bottom: 1.5em;
}

.entry-content,
.block-editor-writing-flow {
  /* purgecss ignore current */
  @include meta.load-css("entry-content");
}

.entry-content {
  -webkit-overflow-scrolling: touch;
  -ms-word-break: break-all;
  word-wrap: break-word;
  width: 100%;

  // ex
  // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  hyphens: auto;
  word-break: break-all;
  word-break: break-word;
  overflow-wrap: break-word;

  // overflow: auto;

  figure,
  img {
    max-width: 100%;
  }
}

.wp-block-separator {
  margin-top: var(--spacer-lg);
  margin-bottom: var(--spacer-lg);
  border-color: var(--color-border);

  @media (--viewport-md) {
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-xl);
  }

  // @extend .hr;

  // margin: var(--spacer-xl) auto;
  // background-color: var(--color-text);
  // border: none;
  // border-bottom: 1px solid var(--color-border-base);
  // opacity: 1;

  &:not(.is-style-wide, .is-style-dots) {
    max-width: 100px;
  }

  // &.has-background {
  //   &:not(.is-style-dots) {
  //     height: 1px;
  //     border-bottom: none;
  //   }

  //   &:not(.is-style-wide):not(.is-style-dots) {
  //     height: 2px;
  //   }
  // }
}

.wp-block-quote {
  position: relative;
  margin-top: 2rem;
  margin-bottom: var(--spacer-lg);
  padding: var(--spacer-md);
  border-left: none;
  background-color: var(--color-bg);

  cite,
  footer {
    position: relative;
    margin-top: 1em;
    color: currentcolor;
    font-style: normal;
    font-size: 0.8125em;
  }

  &.has-text-align-right {
    padding-right: 1em;
    padding-left: 0;
    border-right: none;
    border-left: none;
  }

  &.has-text-align-center {
    padding-left: 0;
    border: none;
  }

  &.is-large,
  &.is-style-large {
    border: none;
  }

  @media (--viewport-lg) {
    padding: var(--spacer-lg) var(--spacer-xl);
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    &,
    &:hover,
    &:visited,
    &:active {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: none;
    }
  }

  // &::before,
  // &::after {
  //   font-family: var(--font-sans-serif-en);
  //   font-size: 2rem;
  //   position: absolute;
  //   color: var(--color-text);
  // }

  // &::before {
  //   top: 0;
  //   left: 0.5em;
  //   content: "“";
  // }

  // &::after {
  //   right: 0.5em;
  //   bottom: 0;
  //   content: "”";
  // }
}

// .wp-block-button {
//   margin-bottom: var(--spacer-lg);
// }

// .wp-block-button .wp-block-button__link {
//   min-width: initial;
//   max-width: initial;
//   cursor: pointer;
//   border-radius: 0.25em;
// }

// .wp-block-button.is-style-outline .wp-block-button__link {
//   color: var(--color-text);

//   &:hover {
//     color: var(--color-base);
//   }
// }

.wp-block-buttons {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);

  // * + & {
  //   margin-top: var(--spacer-lg);
  // }
}

.wp-block-audio figcaption {
  color: var(--color-text-code);
  font-size: var(--font-size-sm);
  text-align: center;
}

.is-dark-theme .wp-block-audio figcaption {
  color: var(--color-text-code-lighten);
}

.wp-block-code {
  margin-bottom: var(--spacer-lg);
  padding: 0.8em 1em;
  border: 1px solid var(--color-border-base);
  border-radius: var(--border-radius-sm);
  font-family: Menlo, Consolas, monaco, monospace;
}

.wp-block-embed figcaption {
  color: var(--color-text-code);
  font-size: var(--font-size-sm);
  text-align: center;
}

.is-dark-theme .wp-block-embed figcaption {
  color: var(--color-text-code-lighten);
}

.blocks-gallery-caption {
  color: var(--color-text-code);
  font-size: var(--font-size-sm);
  text-align: center;
}

.is-dark-theme .blocks-gallery-caption {
  color: var(--color-text-code-lighten);
}

.wp-block-image {
  background-color: transparent;

  img {
    /* purgecss ignore current */

    vertical-align: bottom;
  }

  &.is-style-rounded img {
    border-radius: 9999px;
  }

  .entry-content > &.aligncenter {
    width: 100%;
    margin-bottom: var(--spacer-lg);
  }

  .entry-content > &.alignleft {
    float: left;
  }

  .entry-content > &.alignright {
    float: right;
  }
}

.wp-block-image figcaption {
  /* purgecss ignore current */

  display: block;
  margin-top: 0;
  padding: 0.25em;
  background-color: transparent;
  color: var(--color-text-code);
  font-size: var(--font-size-xs);
  text-align: center;
}

.is-dark-theme .wp-block-image figcaption {
  color: var(--color-text-code-lighten);
}

.wp-block-pullquote {
  margin-bottom: 1.75em;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: currentcolor;

  cite,
  footer {
    color: currentcolor;
    font-style: normal;
    font-size: 0.8125em;
    text-transform: uppercase;
  }

  p {
    font-size: var(--font-size-lg);
  }

  blockquote {
    background-color: initial;
  }
}

.wp-block-pullquote__citation {
  color: currentcolor;
  font-style: normal;
  font-size: 0.8125em;
  text-transform: uppercase;
}

.wp-block-navigation ul {
  list-style: none;

  li {
    list-style: none;
  }
}

.wp-block-navigation-link.wp-block-navigation-link {
  margin: 0;
}

.wp-block-quote__citation {
  position: relative;
  margin-top: 1em;
  color: currentcolor;
  font-style: normal;
  font-size: 0.8125em;
}

.wp-block-search .wp-block-search__label {
  font-weight: var(--font-weight-bold);
}

.wp-block-group {
  @include clearfix;
  margin-bottom: var(--spacer-lg);

  padding: var(--spacer);
  border: 1px solid var(--color-text);
  border-radius: 0.25rem;

  @media (--viewport-lg) {
    padding: 1.25em 2.375em;
  }

  p:last-child {
    margin-bottom: initial;
  }
}

.wp-block-column {
  @include clearfix;
}

.wp-block-group.has-background {
  border: none;
}

.wp-block-table {
  margin-bottom: var(--spacer-lg);
  border-collapse: collapse;

  table {
    margin-bottom: 0;
  }

  table + figcaption {
    margin-top: var(--spacer-sm);
  }

  thead {
    border-bottom: rem(2px) solid var(--color-text);
  }

  tfoot {
    border-top: rem(2px) solid var(--color-text);
  }

  td,
  th {
    min-width: 10em;
    padding: 0.5em;
    border: 1px solid var(--color-text);
    vertical-align: middle;
    word-break: normal;

    &:not([class*="has"]) {
      text-align: center;
    }
  }

  th {
    white-space: nowrap;
  }

  figcaption {
    color: var(--color-text-light);
    font-size: var(--font-size-sm);
    text-align: center;
  }

  // table + figcaption {
  //   margin-top: -1em;
  // }
}

.wp-block-table:not(.is-style-stripes) {
  thead th {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

.wp-block-table.is-style-stripes {
  border-bottom: 0;

  thead {
    border-bottom: rem(1px) solid var(--color-bg);
  }

  tfoot {
    border-top: rem(1px) solid var(--color-bg);
  }

  tbody tr:nth-child(odd) {
    background-color: var(--color-bg);
  }

  td,
  th {
    border: 0;
  }
}

.wp-block-media-text {
  margin-bottom: var(--spacer-lg);

  .wp-block-media-text__content {
    padding-top: var(--spacer-sm);
    padding-right: 5%;
    padding-left: 5%;
  }
}

.is-dark-theme .wp-block-table figcaption {
  color: var(--color-text-code-lighten);
}

.wp-block-video figcaption {
  color: var(--color-text-code);
  font-size: var(--font-size-sm);
  text-align: center;
}

.is-dark-theme .wp-block-video figcaption {
  color: var(--color-text-code-lighten);
}

.wp-block-template-part.has-background {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.25em 2.375em;
}

.wp-block-embed {
  margin-bottom: var(--spacer-lg);
}

.wp-block-embed.is-type-video {
  /* purgecss ignore current */

  display: block;
  max-width: var(--container-max-width-lg);
  margin-right: auto;
  margin-left: auto;

  &.aligncenter {
    /* purgecss ignore current */

    margin-right: auto;
    margin-left: auto;
  }

  &.alignright {
    /* purgecss ignore current */

    margin-right: 0;
    margin-left: auto;
  }

  &.alignleft {
    /* purgecss ignore current */

    margin-right: auto;
    margin-left: 0;
  }
}

.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  &::before {
    display: block;
    padding-top: math.percentage(math.div(9, 16));
    content: "";
  }

  > iframe {
    @include full-fit;
  }
}

.has-text-align-left {
  text-align: left !important;
}

.has-text-align-right {
  text-align: right !important;
}

.has-text-align-center {
  text-align: center !important;
}

#start-resizable-editor-section {
  display: none;
}

.wellBlock {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-bold);
    /* purgecss ignore current */

    font-family: var(--font-sans-serif-en);
  }
}

/* add all responsive styles here */

#end-resizable-editor-section {
  display: none;
}

/* purgecss end ignore */
