/* stylelint-disable custom-property-pattern */

/**
 * css custom properties
 */

@use "../config/functions" as *;
@use "../config/variables" as *;

@custom-media --viewport-sm (width >= 36em);
@custom-media --viewport-md (width >= 48em);
@custom-media --viewport-lg (width >= 62em);
@custom-media --viewport-xl (width >= 75em);
@custom-media --viewport-2xl (width >= 100em);
@custom-media --viewport-until-md (width <= 48em);
@custom-media --viewport-landscape (orientation: landscape);
@custom-media --viewport-portrait (orientation: portrait);
@custom-media --viewport-4by3 (min-aspect-ratio: 4/3);
@custom-media --viewport-16by9 (min-aspect-ratio: 16/9);
@custom-media --viewport-21by9 (min-aspect-ratio: 21/9);

:root {
  // basic
  --color-base: var(--wp--preset--color--base, #fff);
  --color-text: var(--wp--preset--color--text, #000);
  --color-text-light: #999;
  --color-primary: var(--wp--preset--color--primary, #ff4e00);
  --color-secondary: var(--wp--preset--color--secondary, #ffe433);

  // other util
  --color-warning: #f8c61e;
  --color-danger: tomato;
  --color-link: #d54101;
  --color-link-hover: var(--color-primary);
  --color-link-visited: var(--color-text);
  --color-border: #e0e0e0;
  --color-placeholder: var(--color-border);

  // -----------------
  // color SNS
  // -----------------

  // --color-twitter: #00aced;
  // --color-facebook: #1877f2;
  // --color-line: #00c300;
  // --color-instagram: #d7464f;

  // font family
  --font-sans-serif-en-main: "Josefin Sans";
  --font-sans-serif-ja: "Noto Sans JP", -apple-system, blinkmacsystemfont,
    "Hiragino Sans", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", "メイリオ",
    meiryo, sans-serif;
  --font-sans-serif-en: var(--font-sans-serif-en-main), "SF Pro Text",
    "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-icons: "icons";
  --font-family-base: var(--font-sans-serif-ja);

  // font size
  --rem: 16 * 1rem;
  --base-font-size: 16px;
  --font-size: 1rem;
  --root-font-size: calc(calc(100vw / 36) * 1.6);
  --font-tracking: 0.06em;
  --line-height-base: 1.875;

  @media (--viewport-sm) {
    // --root-font-size: calc(calc(100vw / 48) * 1.6);
    --root-font-size: var(--base-font-size);
  }
  // @media (--viewport-md) {
  //   --root-font-size: calc(calc(100vw / 76.8) * 1.6);
  // }
  // @media (--viewport-lg) {
  //   // --root-font-size: calc(calc(100vw / 99.2) * 1.6);
  //   --root-font-size: var(--base-font-size);
  // }
  // @media (--viewport-xl) {
  //   --root-font-size: calc(calc(100vw / 120) * 1.6);
  // }
  @media (--viewport-2xl) {
    --root-font-size: calc(calc(100vw / 160) * 1.6);
  }

  // font size util
  --font-size-2xs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
  --font-size-4xl: 4rem;
  --font-p-size: var(--font-size-sm); // 16px

  // font weight
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  // line hight
  --leading-none: 1;
  --leading-xs: 1.25;
  --leading-sm: 1.275;
  --leading-md: 1.5;
  --leading-lg: 1.625;
  --leading-xl: 2;
  --leading-2xl: 2.5;
  --leading-x3l: 2.875;

  // heading
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;

  // display
  --font-display-1: 2.875rem; // 46px
  --font-display-2: 2.5rem; // 40px
  --font-display-3: 2.25rem; // 36px
  --font-display-4: 1.875rem; // 30px
  --font-display-5: 1.625rem; // 26px
  --font-display-6: 1.375rem; // 22px
  --font-display-7: 1.25rem; // 20px
  --font-display-8: 1.125rem; // 18px

  // display extra size
  --font-display-ex-1: 6.875rem; // 110px
  --font-display-ex-2: 4rem; // 64px
  --font-display-ex-3: 3.375rem; // 54px
  --font-display-ex-4: 3.125rem; // 50px

  // letter spacing
  --letter-spacing-heading: 0.025em;
  --letter-spacing-sans-serif: 0.025em;

  // spacer
  --spacer-unit: 1rem;
  --spacer: var(--spacer-unit);
  --spacer-2xs: calc(0.25 * var(--spacer-unit));
  --spacer-xs: calc(0.5 * var(--spacer-unit));
  --spacer-sm: calc(0.75 * var(--spacer-unit));
  --spacer-md: calc(1.25 * var(--spacer-unit));
  --spacer-lg: calc(2 * var(--spacer-unit));
  --spacer-xl: calc(3.25 * var(--spacer-unit));
  --spacer-2xl: calc(5.25 * var(--spacer-unit));

  // section gutter
  --gutter-sm: calc(15 / var(--rem));
  --gutter-md: calc(30 / var(--rem));
  --gutter-lg: calc(40 / var(--rem));
  --gutter-xl: calc(60 / var(--rem));
  --gutter-2xl: calc(80 / var(--rem));
  --gutter-3xl: calc(120 / var(--rem));

  // z order
  --z-go-btn: 500;
  --z-header: 600;
  --z-modal: 900;
  --z-nav-menu: 550;
  --z-number-badge: 100;
  --z-sticky: 700;

  // border
  --border-width-base: calc(3 / var(--rem));

  // radius
  --border-radius-base: calc(10 / var(--rem));
  --border-radius-xs: calc(4 / var(--rem));
  --border-radius-sm: calc(6 / var(--rem));
  --border-radius-md: calc(20 / var(--rem));
  --border-radius-lg: calc(40 / var(--rem));
  --corner-radius: var(--border-radius-base);

  // header
  --header-height: calc(60 / var(--rem));

  @media (--viewport-lg) {
    --header-height: calc(100 / var(--rem));
  }

  // container width
  --container-fluid-max-width: calc(2208 / var(--rem));
  --container-canvas-max-width: calc(1400 / var(--rem));
  --container-max-width: auto;
  --container-max-width-entry: calc(798 / var(--rem));

  // generate container breakpoint max width
  @each $breakpoint, $width in $container-max-width {
    /* stylelint-disable-next-line custom-property-pattern */
    --container-max-width-#{$breakpoint}: calc(
      #{strip-unit($width)} / var(--rem)
    );

    @media (--viewport-#{$breakpoint}) {
      --container-max-width: calc(#{strip-unit($width)} / var(--rem));
    }
  }

  // view inner height(overwrite js)
  --vh: 1vh;
  --fill-height: 100vh;
  --vh-100: calc(var(--vh, 1vh) * 100);

  // cubic
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

  // circ
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  // expo
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

  // quad
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  // quart
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

  // quint
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

  // sine
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  // back
  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  // swiper theme variable
  --swiper-theme-color: var(--color-primary);
  --swiper-pagination-color: var(--color-primary);

  // Golden ratio
  --golden-ratio: 1.6180339887;

  // ios safe area
  --safe-area-t: env(safe-area-inset-top, 0);
  --safe-area-r: env(safe-area-inset-right, 0);
  --safe-area-b: env(safe-area-inset-bottom, 0);
  --safe-area-l: env(safe-area-inset-left, 0);
}
