/**
 * Scss Variables
 */

@use "sass:list";
@use "sass:math";

// Breakpoints
$mq-breakpoints: sm, md, lg, xl, 2xl !default;

// embed responsive ratio
$embed-responsive-aspect-ratios: () !default;

// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: list.join(
  ((21 9), (16 9), (4 3), (1 1)),
  $embed-responsive-aspect-ratios
);

// direction
$direction: (
  t: top,
  b: bottom,
  l: left,
  r: right,
);

$spacer-array: (
  0: 0,
  2xs: var(--spacer-2xs),
  xs: var(--spacer-xs),
  sm: var(--spacer-sm),
  md: var(--spacer-md),
  lg: var(--spacer-lg),
  xl: var(--spacer-xl),
  2xl: var(--spacer-2xl),
  3xl: var(--spacer-3xl),
);

$grid-columns: 12 !default;

// pi
$pi: 3.1416;
$deg2radians: math.div($pi * 2, 360);
